
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
   
}

@media (min-width:992px){
    .container{
        width: 85%;
    }

}
@media (min-width: 768px) {
    .container{
        width: 85%;
    }
}
@media (max-width:991px){
  .image{
    display: none !important;
  }
  button{
    width: 80%;
}
}

@media (max-width: 768px) {
   
    button{
        width: 100%;
    } 
}
@media (max-width: 468px) {

   
}


